/* Styles for the main navigation menu. */


/******************************  Mobile styles *****************************/
/* Page overlay when menu is open. */
.ca-header-nav-overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  top: 0;
  right: 0;

  .is-overlay-active & {
    display: block;
  }
}

/*main menu wrapper. Opens and closes on click. */
.ca-header-nav-wrapper {
  display: none;
  &.is-active {
    display: block;
  }
}
/* nav.menu--main */
.menu--main {
  border: 4px dotted greenyellow !important;
  height: 100%;
  overflow: auto;
  background: var(--white);
  padding: var(--container-spacing-md);
  font-family: var(--font-heading);
  color: var(--gray-90);

  position: fixed;
  right: 0;
  top: 0;
  z-index: 1100;
  width: 75%;
  max-width: 540px;
  min-width: 320px;

  button {
    background-color: unset;
    border: unset;
    text-align: start;
  }
}

ul.menu-main--list {
  margin: 0;
}

/* li.menu-item */
.menu-item {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 300;
  /* line-height: var(--line-height-body); */
  line-height: 1.5em;

  /* padding-top: 32px; */
  padding-top: var(--size-8);
  a {
    text-decoration: none;
    color: var(--gray-90);
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &::after {
      display: block;
      background-image: url("../main-menu/ios-arrow-icon.svg");
      background-repeat: no-repeat;
      content: "";
      width: 25px;
      height: 25px;
    }
  }
}

.menu-item--expanded {
  button {
    align-items: unset;

    &::after {
      transform: rotate(90deg);
    }
  }
}

.ca-menu-item--toplevel {
  border-bottom: 1px solid #c4c4c4;
  padding: 24px 0;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.5em;
  list-style: none;
}

.ca-main-menu--mobile-button__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: var(--container-spacing-md);
}
/* .ca-main-menu--mobile-button, */
.ca-mobile-nav-button {
  position: relative;
  z-index: 1101;
  padding: var(--size-2);
  margin-right: calc(var(--size-2) * -1);

  svg {
    height: var(--icon-size-md);
    width: var(--icon-size-md);
  }
}

/******************************  Desktop styles **************************** */
