/**
 * @file
 * Styles for the CivicActions Social Links SDC.
 */

.ca-social-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ca-social-links__link {
  display: inline-block;
  padding: var(--size-1);
}

.ca-social-links__icon svg {
  width: 40px;
  height: 41px;
}

.ca-social-links__icon--hover {
  display: none;
}

.ca-social-links__link:hover .ca-social-links__icon--default,
.ca-social-links__link:focus .ca-social-links__icon--default,
.ca-social-links__link:focus-within .ca-social-links__icon--default {
  display: none;
}

.ca-social-links__link:hover .ca-social-links__icon--hover,
.ca-social-links__link:focus .ca-social-links__icon--hover,
.ca-social-links__link:focus-within .ca-social-links__icon--hover {
  display: inline;
}

.ca-social-links__link:focus-visible {
  outline: var(--focus-outline-width) solid currentColor;
  outline-offset: var(--focus-outline-offset);
}

@media (min-width: 1200px) {
  .ca-social-links {
    justify-content: flex-end;
    padding: 0;
    text-align: right;
  }
}
