/**
 * @file
 * Styles for the Editorial Teaser SDC.
 */

.editorial-teaser {
  background-color: var(--white);
  box-shadow: var(--shadow-card);
}

.editorial-teaser__link {
  color: var(--primary-blue);
  text-decoration: none;
}

.editorial-teaser__link:focus-visible {
  outline: var(--focus-outline-width) solid var(--primary-red);
  outline-offset: var(--focus-outline-offset);
}

.editorial-teaser--card .editorial-teaser__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editorial-teaser__image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.editorial-teaser--card .editorial-teaser__title {
  margin: 0;
  padding: var(--size-8);
  color: var(--primary-blue);
  font-family: var(--font-heading);
}

.editorial-teaser__description {
  margin: 0;
  padding: 0 var(--size-6) var(--size-9);
  color: var(--gray-90);
  font-family: var(--font-body);
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body-large);
}

/* The compact teaser */

.editorial-teaser--compact .editorial-teaser__link-compact {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: var(--size-8);
  margin-bottom: var(--size-2);
  box-shadow: var(--shadow-card);
}

.editorial-teaser--compact .editorial-teaser__title {
  margin: var(--size-8) 0;
  color: var(--primary-blue);
  font-family: var(--font-heading);
}

.editorial-teaser__arrow {
  display: block;
  flex: 0 0 auto;
  width: var(--icon-size-large);
  height: auto;
  margin-left: var(--size-5);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(0.8);
}

.editorial-teaser__link:hover .editorial-teaser__title,
.editorial-teaser__link:focus-visible .editorial-teaser__title {
  color: var(--primary-red);
}

@media (max-width: 767px) {
  .editorial-teaser--card .editorial-teaser__title,
  .editorial-teaser__description {
    padding-left: var(--size-6);
    padding-right: var(--size-6);
  }

  .editorial-teaser--compact .editorial-teaser__link {
    padding: var(--size-8) var(--size-6);
  }
}
